/* design générique */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Encode Sans', sans-serif;
}

/* design typographique */

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
}


/* header */

header {
    background-color: white;
    width: 100%;
    height: 10vh;
    position: fixed;
    box-shadow: 0px 10px 42px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    height: 100%;
}

nav a {
    font-size: 110%;
}

nav a, footer a {
    text-decoration: none;
    color: rgb(32, 26, 26);
}

nav a:hover, footer a:hover {
    color: #d56aa0;
}

.logo-container {
    width: 65px;
    height: 85%;
}

.logo {
    height: 100%;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
    margin-right: 20px;
}


/* container */

.container {
    background-color: #F7F7F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img, .presentation{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* header ghost */
.div-ghost {
    height: 10vh;
}

.header-ghost {
    width: 100%;
    height: 10vh;
}

/* Screen 1 */

.presentation {
    background-image: url("./../images/coffee-presentation.jpg");
    background-size: cover;
    width: 100%;
}


/* Footer */

footer {
    height: 10vh;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

footer ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}