/**
// xs --- Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// sm --- Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// md --- Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// lg --- Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// xl --- Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
**/


/* header */

/* animation logo */

.logo {
    transition: all .7s ease;
    filter: grayscale(100%);
}

.logo:hover {
    transform: rotate(360deg);
    filter: grayscale(0%);
}


/* container */
.container > div {
    height: 90vh;
    display: flex;
    align-items: center;
}

.coffee-description, .coffee-products {
    width: 80%;
}

.coffee:hover img, .coffee-products-elements:hover img {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* Screen 1 */


/* Screen 2 */

.coffee-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.coffee-description-first-section {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-coffee {
    display: flex;
    justify-content: space-between;
}

.coffee {
    width: 100%;
}

.coffee img {
    width: 80%;
}

/* animation */

.coffee-description-first-section h1, .coffee {
    transition: all 1s ease;
}

.coffee-description-first-section:hover h1, .coffee:hover {
    color: #d56aa0;
}


/* Screen 3 */
.coffee-products {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.coffee-products-elements {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.product-picture-container img{
     height: 20vh;
}

.product-description {
    width: 65%;
    margin-left: 50px;
    display: flex;
    align-items: center;
    /* margin-left: 50px; */
}