/* design génèrique */

body {
    font-size: 150%;
}

.container img {
    width: 100%;
}

/* header */
nav #navigation_links{
    display: none;
}


/* container */

.div-ghost {
    height: 15vh;
}

.coffee-description, .coffee-products {
    width: 90%;
}

/* screen 1 */
.presentation {
    height: 90vh;
}


/* screen 2 */

.coffee-title {
    text-align: center;
    margin-bottom: 3vh;
}

.coffee {
    margin-top: 7vh;
    text-align: center;
}

.coffee p {
    margin-top: 10px;
}


/* screen 3 */
.coffee-products-elements {
    margin-bottom: 7vh;
}

.product-description {
    margin-top: 10px;
}